*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
}

.add{
    text-align: center;
    height: auto;
    width: auto;
    margin: 1px 80px;
    padding: 30px;
    background-color: lightgoldenrodyellow;
    margin-top: 100px;
}

h2{
    color: chocolate;
    margin-bottom: 19px;
}

.fields{
    line-height: 3;
}

.name,
.email,
.User-Name,
.Phone-Number,
.Country,
.Zip-Code{
    height: 26px;
    width: 290px;
    padding: 6px 19px;
    margin-top: 10px;
    border: 1px solid sienna;
}

.email{
    margin-left: 78px;
}

.name{
    margin-left: 75px;
}

.User-Name{
    margin-top: 10px;
    margin-left: 42px;

}

.Phone-Number{
    margin-left: 20px;
}

.Country{
    margin-left: 63px;
}

.Zip-Code{
    margin-left: 58px;
}

input:focus{
    border-color: sienna;
    outline: red;
    border-width: 2px;
}

button{
    height: 40px;
    width: 100px;
    margin-top: 20px;
    background-color: rgb(238, 133, 58);
    color: gold;
    border: 1px solid chocolate;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: chocolate;
}

#allUsers{
    list-style: none;
    text-align: left;
    margin-left: 60px;
    margin-top: 20px;
    font-size: 18px;
}
